h1{
   text-align: center; 
   align-content: center;
   color:#121313
  
} 
body{
    background-image: url('wall-2396055_1920.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
    

}
div .login-page
{
    margin:auto;
    padding:0%;
    width:200px;
    
}
.form{
    position:relative;
    display:inline-block;
    background: rgb(185, 233, 209);
  
    width:400px;
   /* font-size: 20px; */
    max-width: 400px;
    padding:40px;
    z-index: 1;
    margin-top:10px;
    margin:0 auto 100px;
    align-content: center;
    text-align: center;
    border:5px solid black;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}
.login-page{
    position:relative;
    align-content: center;
    width:100px;

    margin-left:500px;
    margin-top:0px;
  
}
.form input
{
    font-family:fantasy;
    outline: 1;
    background: rgb(185, 233, 209);
    width: 100%;
    border:5px solid black;
    padding:5%;
    font-size:14;
    margin:0 0 15px;
    box-sizing: border-box;
    
}
button{
    size: 10%;
    color:black;
    background: rgb(169, 236, 203);
  
    border:5px solid black;
    padding:4%;
    font-size: 14;;

}